.content {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

